
$base-color: #ffffff;
$accent-color: #ff343d;
$heading-color: #1c1c1c;
$darken-color: #808080;
$light-color: #eff2f6;
$footer-color: #2a2b2c;


/* borders
.border-bottom-line{
  border-bottom: 1px solid #dde4ea;
  opacity: 0.15;
}
*/

/*-------------------------------------header---------------------------------------*/
.bg-accent-color{
  background: gray;
}
.base-color{
  color:#FFFFFF;
}
.bg-accent-light-color{
  background-color: #EAEFF3;
}
.text-color-black{
  color: $heading-color;
}

/*-------------------------------------contact-us---------------------------------------*/



/*-------------------------------------about us---------------------------------------*/


/*-------------------------------------careeers---------------------------------------*/

