
.text-uppercase{
  text-transform: uppercase;
}
/*-------------------------------------line-height--------------------------------------*/
.line-height-xs{
  line-height: 24px;
}
.line-height-sm{
  line-height: 28px;
}
.line-height-md{
  line-height: 30px;
}
/*-------------------------------------text-align--------------------------------------*/
.text-align-right{
  text-align: right;
}
.text-align-left{
  text-align: left;
}
.text-align-center{
  text-align: center;
}
/*-------------------------------------list--------------------------------------*/
.list-unstyled{
  list-style-type: none;
}